body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    padding: 0;
    margin: 0;
    background-color: rgb(216, 210, 210);
  }
  .input-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: none;
    border-radius: 10px;
    outline: none;
    background: var(--orange-text-color);
    color: var(--white-text-color);
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
  }
  .action-btn{
    background-color: #f6923e;
  }
  .calculator {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
  }
  
  #display {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 18px;
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  button:active {
    background-color: #ccc;
  }
  